<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ingresado</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/b20aef55a4.js" crossorigin="anonymous"></script>

</head>
<body style = "background-color:FFFFFF;">

	<h1 class="display-5" style = "color:#3b5998;">Exito! Pudiste ingresar tu producto para venderlo </h1>

</body>
</html>